.post-card {
  display: grid;
  grid-template-columns: 400px auto 180px;
}

.post-card-info {
  grid-column: 1/2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.post-card-info h3 a {
  color: #3672af;
}

.post-card-info h3 {
  margin: 0 0 2px 0;
}

.post-card-info p {
  margin: 0 0 10px 0;
  font-size: 0.8em;
  font-weight: lighter;
  color: #224767;
}

.separator {
  grid-column: 2/3;
}
