.vote-controller {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote-controller span {
  padding: 12px 18px;
  margin: 10px;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
}

.thump-up {
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 5px;
  padding: 8px 10px;
  background: #78c589;
  cursor: pointer;
}

.thump-down {
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 5px;
  padding: 8px 10px;
  background: #da4848;
  cursor: pointer;
}
